<app-carousel [height]="420"></app-carousel>
<div class="centent-container">
    <!-- 新品首发 -->
    <div class="goods-box">
        <div class="flex-l-r flex-bottom">
            <div class="flex-bottom">
                <h3><a href="/">新品首发</a></h3>
                <span>为你寻觅世间好物</span>
            </div>
            <div>更多新品 ></div>
        </div>
        <div class="flex-between">
           <div>
               test
           </div>
           <div>
               test
           </div>
        </div>
    </div>
</div>