/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.less";

 
.centent-container {
  width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.flex-align-center {
  .flex;
  align-items: center;
}
.flex-l-r {
  .flex;
  justify-content: space-between;
}
