<div class="header-container">
    <!-- 顶部导航 -->
    <div class="top-nav">
        <div class="centent-container flex-l-r">
            <div class="flex top-left-box">
                <a href="/">关于防止近期不法分子冒充客服实施诈骗的公告</a>
            </div>
            <div class="flex top-right-box">
                <div class="signin-signup">登录/注册</div>
                <div><a href="/">我的订单</a></div>
                <div class="flex-align-center">
                    <a> <i></i><span>APP</span></a>
                </div>
            </div>
        </div>

    </div>
    <!-- logo与搜索 -->
    <div class="centent-container flex-l-r logo-search-cart">
        <div class="logo-box flex"><img src="/assets/imgs/common/logo.png" alt="">
            <h1>好恰</h1>
        </div>
        <div class="flex">
            <div class="search-box">
                <div class="flex">
                    <div>
                        <i></i>
                        <input type="text" placeholder="search...">
                    </div>
                    <button>搜索</button>
                </div>
                <div class=" search-hot">
                    <a href="/">零食</a>
                    <a href="/">零食</a>
                    <a href="/">零食</a>
                </div>
            </div>
            <div class="cart-box text-center flex-center">
                <i></i>
                <span>购物车</span>
                <i>0</i>
            </div>
        </div>
    </div>
    <!-- 分类 -->
    <div class="centent-container flex-between category">
        <div class="active">首页</div>
        <div>推荐</div>
        <div>休闲零食</div>
        <div>坚果蜜饯</div>
        <div>冲饮茗茶</div>
        <div>滋补保健</div>
        <div>酒水乳饮</div>
        <div>粮油调味</div>
        <div>生鲜特色</div>
    </div>
</div>