<div class="header-container">
    <!-- 顶部导航 -->
    <div class="top-nav">
        <div class="centent-container flex-l-r">
            <div class="flex top-left-box">
                <a href="/">关于防止近期不法分子冒充客服实施诈骗的公告</a>
            </div>
            <div class="flex top-right-box">
                <div class="signin-signup">登录/注册</div>
                <div><a href="/">我的订单</a></div>
                <div class="flex-align-center">
                    <a> <i></i><span>APP</span></a>
                </div>
            </div>
        </div>

    </div>
</div>